<body>
<div class="content">
    <h1 class="heading">About CoalSand</h1>
    <hr>
</div>
<br><br>
<div>
    <p><span style="color: black; font-size: 30px; font-weight: 600;">CoalSand</span>
        is a crud based single page web application.It is made using MEAN stack.MEAN means MongoDB ,Express.js , Angular, Node.js.
    </p>
        <ul>
            <li><span> </span>MongoDB is used as DataBase Managemment System.</li>
            <li><span> </span>Angular is used as the framework.</li>
            <li><span> </span>Node.js is used to run the Javascript files of Angular.</li>
            <li><span> </span>Express.js is a Node.js Framework used to build and run the rest api which connects the database and the webapp.</li>
            <li><span> </span>We have used Mongoose as Object-Relational Mapping Library for Api</li>
        </ul>
    <p>
            CoalSand provides the admin side user interface of a shop management system. In Coalsand a user can add his product , 
            update a previously added product , delete a product and also search a product.

    </p>
<button class="button" routerLink="/ourproducts"><span>Check It Out</span></button>
</div>

</body>